<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#222222" />

    <title>Everlasting Gob Stopper</title>
    <link rel="stylesheet" type="text/css" href="dist/css/gobstopper.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/jwt-decode.js"></script>
    <script src="js/app.js"></script>
    <script id="worker2" type="javascript/worker">
        importScripts("https://storage.googleapis.com/workbox-cdn/releases/3.2.0/workbox-sw.js"); workbox.precaching.precacheAndRout([]);
    </script>
</head>

<body ng-app="loginApp" ng-controller="loginCtrl">
    <!-- CONTENT -->
    <div class="container">
        <header class="navbar navbar-default" role="banner">
            <div class="header-container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand porsche-logo"></a>
                    <hr />
                </div>
            </div>
            <div class="page-header last-child clearfix" style="background-color: transparent;">
                <button ng-show="mode==='launch'" class="btn btn-primary pull-right" ng-click="logout()">Hi {{displayname}} <span class="fa fa-sign-out"></span></button>
            </div>
        </header>

        <div class="container">
            <div class="col-md-12" ng-show="mode==='launch'">
                <div class="text-center">
                    <div class="linkshares">
                        <div class="listshare">
                            <a ng-href="{{appUrl}}">
                                <h2>Show my Applications on EU Server</h2>
                            </a>
                        </div>
                        <div class="listshare">
                            <a ng-href="{{appUrl}}">
                                <h2>Show my Applications on USA Server</h2>
                            </a>
                        </div>
                        <div class="listshare">
                            <a ng-href="{{appUrl}}">
                                <h2>Start Social Network</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="mode==='launch' && apps && apps.data.success">
                <h2 class="content-header">New in catalog:</h2>
                <div class="text-center">
                    <div class="linkshares" ng-repeat="entry in apps.data.data">
                        <div class="listshare bg-info">
                            <h4>{{entry.name}}</h4>
                            <p>{{entry.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="download-link-list col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" ng-show="mode==='login'">
                <div class="container show-grid-bottom form">

                    <form action="?" method="post">
                        <h2>Login</h2>
                        <div class="form-group">
                            <label for="username">E-Mail:</label>
                            <input class="form-control" type="text" name="email" id="email" tabindex="1" autofocus autocomplete="off" ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input class="form-control" type="password" name="password" tabindex="2" autocomplete="off" ng-model="password">
                        </div>

                        <div class="row with-cols">
                            <div class="col-md-3">
                                <p>&nbsp;</p>
                                <!-- Link nur für Prototypen -->
                                <a class="btn btn-default" ng-click="login()">Login <span class="psicon psicon-chevron-right-light"></span></a>
                                <!-- bitte als Button programmieren
<button type="submit" name="login" tabindex="3" class="btn btn-default">Login <span class="psicon psicon-chevron-right-light"></span></button> -->
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>

</body>

</html>